@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as *;

.card {
    @include all_containers;
    background-color: white;
    // box-shadow: v.$card_shadow;
    padding: 1em;

    &_nopadding {
        padding: 0;
    }

    &_noformat {
        box-shadow: unset;
        background-color: transparent;
    }
}
.rounded {
    @include all_containers;
}

