.w {
    &_s { max-width: 420px; }
    &_sm { max-width: 640px; }
    &_md { max-width: 768px; }
    &_lg { max-width: 1024px; }
    &_xl { max-width: 1280px; }
    &_2xl { max-width: 1536px; }
}
.full {
    &_h { height: 100%; }
    &_w { width: 100%; }
    &_wh { height: 100%; width: 100%;}
    &_vh { height: 100vh; }
    &_vw { width: 100vw;}
}
