.w {
    &_s { width: 420px; }
    &_sm { width: 640px; }
    &_md { width: 768px; }
    &_lg { width: 1024px; }
    &_xl { width: 1280px; }
    &_2xl { width: 1536px; }
}
.full {
    &_h { height: 100%; }
    &_w { width: 100%; }
    &_wh { height: 100%; width: 100%;}
    &_vh { height: 100vh; }
    &_vw { width: 100vw;}
}
