@use 'sass:map';
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as *;

// lists

.nostyle {
    list-style: none;
}

ul {
    line-height: 2em;
    li {
        @include all_components;
        font-size: map.get(v.$fontsizes, 'normal'); 
        color: v.$main_color_darker;
        list-style-type: none;
        padding: 0.3em 0;
    }

    &.hoverable {
        li {
            &:hover {
                background-color: rgba(v.$main_color_darkest, 7%);
                a {
                    opacity: 1;
                }
            }
        }
    }

    &.select {
        line-height: 2em;
        li {
            width: 100%;
            list-style-type: none;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            transition: v.$transition1;
            padding: 0.3em 0.4em;


            a {
                position: absolute;
                right: 0;
                padding-right: 5px;
                z-index: 1;
                opacity: 0;
            }

            &:hover {
                background-color: rgba(v.$main_color_darkest, 7%);

                a {
                    opacity: 1;
                }
            }
            &:active {
                background-color: rgba(v.$main_color_darkest, 10%);
            }
        }
    }
}

