@use "sass:map";
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as *;



// table

table {
    border-collapse: collapse;
    font-size: map.get(v.$fontsizes, 'normal');

    tr {
        position: relative;
        transition: v.$transition1;
    }

    th, td {
        padding: 0.8em 0.5em;
        border-bottom: 1px solid rgba(v.$main_color_darkest, 10%);
        // font-size: $font_s;
    }

    th {
        @include all_components;
        text-align: left;
        color: v.$main_color_darker;
        font-weight: bold;
    }

    td {
        color: v.$main_color_darker;
        transition: 1s ease-in-out;
        .action {
            // font-size: $font_m;
            opacity: 0;
        }
    }

    &.hoverable {
        tr:hover:not(:nth-child(1)) {
            background-color: rgba(v.$main_color_darker, 7%);
            @include all_components;
            td {
                a.action {
                    opacity: 1;
                }

            }
        }
    }

    &.bordered {
        table, th, td {
            border: 1px solid rgba(v.$main_color_darkest, 20%);
        }
    }

    &.noformat {
        th, td {
            padding: 0 0.3em;
            border: 1px solid transparent;
            background-color: transparent;
        }
        
        tr:nth-child(even) {
            background-color: transparent;
        }
        tr:hover {
            background-color: unset;
        }
    }
}

