@use 'sass:map';
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as *;

@mixin buttons($color) {
    @include all_components;
    @include shadow_outset;
    background-color: $color;
    color: lighten($color: $color, $amount: 75%);
    // background-color: lighten($color: v.$main_color_darkest, $amount: 65%);
    // color: v.$main_color_darker;
    text-transform: uppercase;
    outline: none;
    border: none;
    font-size: map.get(v.$fontsizes, 'button');
    padding: 0.8em 1em;
    border: 1px solid transparent;
    transition: v.$transition1;
    &:hover, &:focus {
        opacity: 0.8;
    }
    &:active {
        opacity: 1;
        // transform: scale(0.95);
        box-shadow: unset;
        border: 1px solid rgba(v.$main_color_dark, 20%);
    }
}

button, input[type=submit], input[type=reset] {
    @include buttons(v.$main_color);
}

input:disabled {
    opacity: 50%;
    cursor: not-allowed;
}