@use 'sass:map';
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as *;


$input_border_thickness: 1px solid;

input:not(input[type=submit]):not(input[type=reset]), 
select, 
textarea {
    @include all_components;
    font-size: map.get(v.$fontsizes, 'normal');
    padding: 0.6em;
    outline: none;
    border: none;
    color: v.$main_color_darkest;
    background-color: rgba(v.$main_color_darkest, 7%);
    width: 100%;
    margin: 0.1em 0 0.3em 0;
    border: $input_border_thickness rgba(v.$main_color_darkest, 9%);
    transition: v.$transition1;
    font-weight: bold;

    &:hover {
        border: $input_border_thickness rgba(v.$main_color_darkest, 15%);
    }
    &:focus {
        border: $input_border_thickness rgba(v.$main_color_darkest, 25%);       
    }
    &::placeholder {
        color: rgba(v.$main_color, 30%);
        font-weight: normal;
    }

    &.input_small {
        padding: 0;
        font-size: map.get(v.$fontsizes, 'small');
        font-weight: normal;
    }

    &.noformat {
        border: none;
        background: transparent;
    }
}

input[type=password] {
    letter-spacing: 0.2rem;
    font-weight: bold;
}
