@use 'sass:map';
@use '../abstracts/variables' as v;

.sidenav {
    width: 220px;
    transition: 0.3s;

    a {
        text-decoration: none;
        display: flex;
        align-items: center;
        margin: 1em 0;
    }

    i {
        max-width: 30px;
        min-width: 29px;
        margin-right: 9px;
        text-align: center;
    }
    span {
        font-size: map.get(v.$fontsizes, 'medium');
        display: inline-block;
    }
}

@media screen and (max-width: 900px) {
    .sidenav {
        width: 75px;
        min-width: 75px;

        span {
            display: none;
        }
        i {
            text-align: center;
            margin-right: unset;
        }
    }
}