@use "sass:map";
@use '../abstracts/variables' as v;






* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

html {
    font-family: 'Quicksand', sans-serif;
}

body {
    font-family: robot;
    background-color: lighten(v.$main_color_darkest, 65%);
}

hr {
    border: unset;
    border-top: 1px solid rgba(v.$main_color_darkest, 20%);
}








.noselect {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.pointer {
    cursor: pointer;
}

.noscroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }
}


.text {
    &_left {text-align: left;}
    &_right {text-align: right;}
    &_center {text-align: center;}
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}





