@use 'sass:map';
@use '../abstracts/variables' as v;



html {
    // font-family: v.$font_family;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 1.1rem;
    }
}


//colors
h1,h2,h3,h4,h5,h6 {
    color: v.$main_color_darkest;
    margin: 0.3em 0;
}
p, a { color: v.$main_color_darker; }
label { color: v.$main_color_darker; }




// sizes 
h1 { font-size: map.get(v.$fontsizes, 'h1'); }
h2 { font-size: map.get(v.$fontsizes, 'h2'); }
h3 { font-size: map.get(v.$fontsizes, 'h3'); }
h4 { font-size: map.get(v.$fontsizes, 'h4'); }
h5 { font-size: map.get(v.$fontsizes, 'h5'); }
h6 { font-size: map.get(v.$fontsizes, 'h6'); }

p { font-size: map.get(v.$fontsizes, 'p'); }
a { font-size: map.get(v.$fontsizes, 'a'); }
label { font-size: map.get(v.$fontsizes, 'label'); }

legend {
    font-size: map.get(v.$fontsizes, 'large');
}

.font_small { font-size: map.get(v.$fontsizes, 'small'); }
.font_medium { font-size: map.get(v.$fontsizes, 'medium'); }
.font_normal { font-size: map.get(v.$fontsizes, 'normal'); }

.color_dark { color: v.$main_color_dark; }
.color_darker { color: v.$main_color_darker; }
.color_darkest { color: v.$main_color_darkest; }


