@use 'sass:map';
@use '../abstracts/variables' as v;



html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-family: v.$font_family;
    font-size: 1rem;
}



@media screen and (min-width: 1920px) {
    html {
        font-size: 1.4rem;
    }
}



//colors
h1,h2,h3,h4,h5,h6 {
    color: v.$main_color_darkest;
    margin: 0.3em 0;
}
p, a { color: v.$theme_dark_400; }
label { color: v.$main_color_dark; }




// sizes 
h1 { font-size: map.get(v.$fontsizes, 'h1'); }
h2 { font-size: map.get(v.$fontsizes, 'h2'); }
h3 { font-size: map.get(v.$fontsizes, 'h3'); }
h4 { font-size: map.get(v.$fontsizes, 'h4'); }
h5 { font-size: map.get(v.$fontsizes, 'h5'); }
h6 { font-size: map.get(v.$fontsizes, 'h6'); }

p { font-size: map.get(v.$fontsizes, 'p'); }
a { font-size: map.get(v.$fontsizes, 'a'); }
label { font-size: map.get(v.$fontsizes, 'label'); }

legend {
    font-size: map.get(v.$fontsizes, 'large');
}

.font_small { font-size: map.get(v.$fontsizes, 'small'); }
.font_medium { font-size: map.get(v.$fontsizes, 'medium'); }
.font_normal { font-size: map.get(v.$fontsizes, 'normal'); }

.color_dark { color: v.$main_color_dark; }
.color_darker { color: v.$main_color_darker; }
.color_darkest { color: v.$main_color_darkest; }


.font {
    &_s { font-size: map.get(v.$fontsizes, 'small'); }
    &_m { font-size: map.get(v.$fontsizes, 'medium'); }

    &_normal {font-weight: normal;}
    &_bold {font-weight: bold;}

    &_300 {font-weight: 300;}
    &_400 {font-weight: 400;}
    &_500 {font-weight: 500;}
}